* {
    background-color: #1E1F26;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif
    ;
    /* margin-left: 0px;
    margin-right: 0px; */
}

.app-main {
    color: #FAFAFA;
}

.app--header--logo {
    width: 100px;
    height: auto;
    margin: 0px 0px 0px 15px;
}

.taskList {
    border-width: 2px;
    border-color: blue;
}

.taskList > div {
    border-style: solid;
    border-color: blue;
    margin: 5px;
    padding: 15px;
}

.app--header--addTaskButton {
    color: white;
    background-color: #1369EB;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.app--popupContainer {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.app--popupContainer > input {
    background-color: white;
    border-style: none;
}

.app--popupContainerHidden {
    display: none;
}

.app--addTask--input {
    color: black;
    background-color: white;
    border-style: none;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.app--addTask--date {
    color: black;
    background-color: white;
    border-style: none;
    width: 165px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.app--addTask--date::placeholder {
    color: grey;
}

.app--addTask--prioritySlider {
    color: black;
    background-color: white;
    border-style: none;
    margin-bottom: 10px;
}

.app--addTask--submit {
    color: black;
    background-color: white;
    border-style: none;
    width: 70px;
    height: 35px;
}

.addTask--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addTask--header > div {
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.addTask--header > div > button {
    height: 20px;
    width: 20px;
    border-style: none;
    cursor: pointer;
    padding: 0px;
}

.addTask--header div > button > img {
    height: 20px;
    width: auto;
    margin: 0px;
}

.addTask--header--esc {
    color: gray;
    margin: 0px 7px 0px 0px;
}